body {
    background-color: bisque;
    ;
}

#t1 {
    border-collapse: collapse
}

table.t1,
th.t1,
td.t1 {
    border: 1px solid black;
    padding: 1px;

}

th.t1 {
    width: 20%;
}


.t2 {
    border-collapse: collapse;
}


table.t2,
th.t2,
td.t2 {
    border: 1px solid black;
    text-align: center;
    padding: 1px;

}

th.t2 {
    width: 20%;
}